.gradle/
build/
app/build/
local.properties
.idea/
*.iml
app/src/main/assets/img/
app/src/main/assets/music/
game/dist/
game/tex/_src/
app/src/main/assets/tex/
app/src/main/assets/samples/
app/src/main/assets/film/
app/src/main/assets/voice/
